---
import Layout from "../layouts/about-cv.astro";
---

<Layout>
  <section class="hero">
    <div class="cta">
      <h1>Hello, World!</h1>
      <p class="lede">
        Full-stack engineer with a front-end focus, specializing in data-driven
        applications and immersive experiences.
      </p>
      <a href="/work" class="button-lg">See My Work</a>
    </div>
  </section>
</Layout>

<style>
  .lede {
    max-width: 49rem;
    font-size: var(--font_size--large);
  }

  .button-lg {
    background-color: var(--color_text--link);
    display: inline-block;
    margin: 2rem 0;
    padding: 0.8rem 1.5rem;
    color: white;
    transition: background-color 250ms;
  }

  .button-lg:hover {
    text-decoration: none;
    background-color: var(--color_text--link-alt);
  }
</style>
