/* ================================================================= */
/* Content
/* ================================================================= */

.post {
  max-width: var(--width_content);
  margin: 0 auto;
  padding: 0 var(--space_gutter);
}

.post h1 {
  margin: var(--space_section) 0 var(--space_gutter);
}

.post-grid {
  align-items: flex-start;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.post-grid h3 {
  margin: 1rem 0 0.5rem;
  line-height: 2rem;
}

.project-description {
  font-size: var(--font_size--medium);
  margin-bottom: var(--space_flow);
}

.project-info {
  margin-bottom: 2rem;
}

.project-info tr:last-of-type {
  border: none;
}

/* Images */

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-layout {
  margin: 4rem 0;
}

.image-grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  max-width: none;
  position: relative;
}

.grid-2 {
  grid-template-columns: 1fr; /* Stack images on smaller screens */
}

@media (max-width: 768px) {
  .image-grid {
    width: 100%; /* Reverts to normal content width */
    left: 0; /* Reset position */
  }

  .grid-2 {
    grid-template-columns: 1fr; /* Stacks images on smaller screens */
  }
}

@media (min-width: 80em) {
  .image-grid {
    width: calc(100% + 8rem); /* Ensures the expansion on larger screens */
    left: -4rem; /* Keeps the grid aligned */
  }

  .grid-2 {
    grid-template-columns: repeat(2, 1fr); /* Maintains side-by-side layout */
  }
}

.image-full-width {
  width: 100%;
  margin: 2rem 0;
  padding: 0;
  max-width: 100vw; /* Ensures it never overflows beyond the viewport */
  display: flex; /* Center the image */
  justify-content: center;
}

@media (min-width: 80em) {
  .image-full-width img {
    width: calc(100% + 8rem); /* Expands 4rem on each side */
    max-width: none; /* Allows it to grow beyond parent */
  }
}

/* Video embeds */

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  margin: 4rem 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
