---
import Layout from '../layouts/page.astro';
---

<Layout>
  <div class="not-found">
    <h1>404</h1>
    <img
      src="404.gif"
      alt="John Travolta looking around in Pulp Fiction"
    />
    <p>Looks like the page you requested doesn’t exist.</p>
    <p><a href="/">&larr; back home</a></p>
  </div>
</Layout>

<style>
  .not-found {
    text-align: center;
  }

  .not-found img {
    margin: 0 auto var(--space_flow);
  }
</style>
