---
import Layout from "../layouts/about-cv.astro";
---

<Layout>
  <section class="hero">
    <div class="cta">
      <p class="lede">
        🤓 I'm a full-stack engineer with a front-end focus, specializing in
        data-driven applications and immersive experiences.
      </p>
      <p class="lede">
        ☕️ As a founder and technology leader, I bring an understanding of the
        whole product lifecycle to my work, blending deep technical expertise
        with creative perspective.
      </p>
      <a href="/work" class="button-lg">See My Work</a>
    </div>
  </section>
</Layout>

<style>
  .cta {
    margin-top: 2rem;
  }

  @media (min-width: 50rem) {
    .cta {
      margin-top: 4rem;
    }
  }

  .lede {
    max-width: 60rem;
    font-size: var(--font_size--medium);
    font-family: var(--font_mono);
  }

  @media (min-width: 30rem) {
    .lede {
      font-size: var(--font_size--large);
    }
  }

  .button-lg {
    background-color: var(--color_text--link-dark);
    display: inline-block;
    margin: 2rem 0;
    padding: 0.8rem 1.5rem;
    color: white;
    transition: background-color 250ms;
    font-family: var(--font_mono);
  }

  .button-lg:hover {
    text-decoration: none;
    background-color: var(--color_text--link-alt);
  }
</style>
