---
import Layout from "../../layouts/page.astro";
import { getCollection, render } from "astro:content";
import ProjectInfo from "../../components/project-info.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("work");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <section class="post">
    <h1>{post.data.title}</h1>
    <ProjectInfo frontmatter={post.data} />
    <Content />
  </section>
</Layout>
