---
import Layout from "../layouts/default.astro";
---

<Layout>
  <section class="cv">
    <slot />
  </section>
</Layout>

<style>
  .cv {
    max-width: var(--width_content);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  @media (min-width: 40rem) {
    .cv {
      padding: 0 3rem;
    }
  }
</style>
