---
import "../styles/variables.css";
import "../styles/reset.css";
import "../styles/core.css";
import "../styles/typography.css";
import "../styles/content.css";

/*
todo
- update about page copy
- include my links to linkedin and instagram
- body text style tweaks for readability (larger)
- add generative p5 sketch to homepage
- add headshot to about page
- edit about page copy
- improve about page design (links)
- add related work to bottom of project pages
- copy edit all project content
- swap bad photos in projects
- improve readability on CV page
- add a common layout class for containers in about-cv, work, etc.
*/

const navItems = [
  {
    path: "/work",
    label: "Work",
    rel: "work",
  },
  // {
  //   path: "/blog",
  //   label: "Blog",
  //   rel: "blog",
  // },
  {
    path: "/about",
    label: "About",
    rel: "about",
  },
  {
    path: "/cv",
    label: "CV",
    rel: "cv",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Nick Harbaugh | Full-Stack Engineer & Tech Lead</title>
    <meta
      name="description"
      content="Full-stack engineer with a front-end focus, specializing in data-driven
        applications and immersive experiences."
    />
  </head>
  <body>
    <header class="site-header">
      <a href="/" rel="home" class="logo">
        <img src="/nh-logo-sm.png" alt="A pixellated eclipse" />
        <span>Nick Harbaugh</span>
      </a>

      <nav class="main-nav">
        <ul>
          {
            navItems.map((item) => {
              return (
                <li>
                  <a href={item.path} rel={item.rel}>
                    {item.label}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
    </header>

    <main class="container">
      <slot />
    </main>

    <footer class="site-footer">
      <hr />
      <p>
        Copyright © {new Date().getFullYear()} Nick Harbaugh<span
          >&nbsp;| All Rights Reserved</span
        >
      </p>
      <p>📧 <a href="mailto:nick@nickharb.com">nick@nickharb.com</a></p>
    </footer>
  </body>
</html>

<style>
  .site-header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: var(--font_size--medium);
    font-weight: var(--font_weight--semibold);
    color: var(--color_text--default);
    text-transform: uppercase;
    transition: color 500ms;
    font-family: var(--font_mono);
    margin-left: -0.3rem;
  }

  @media (min-width: 40rem) {
    .logo {
      margin-left: 0;
    }
  }

  .logo:hover {
    color: var(--color_text--subtle);
    text-decoration: none;
  }

  .logo span {
    display: none;
  }

  .logo img {
    width: 4rem;
  }

  .main-nav {
    font-size: var(--font_size--medium);
    font-family: var(--font_mono);
  }

  .main-nav ul {
    display: flex;
    gap: 0.8rem;
    list-style: none;
  }

  .main-nav a {
    transition: color 250ms;
  }

  .main-nav a:hover {
    color: var(--color_text--link-alt);
    text-decoration: none;
  }

  /* .container {
    max-width: var(--width_content);
    margin: 0 auto;
    padding: 0 var(--space_gutter);
  } */

  .site-footer {
    padding: var(--space_gutter);
    margin-top: var(--space_section);
  }

  .site-footer p {
    margin: 0;
    font-size: var(--font_size--small);
  }

  .site-footer hr {
    width: 100%;
    margin: 0 0 1rem;
  }

  .site-footer span {
    display: none;
  }

  @media (min-width: 30rem) {
    .main-nav {
      padding: var(--space_gutter);
    }

    /* .container {
      padding: 0 var(--space_flow);
    } */

    .site-footer {
      padding: var(--space_section) var(--space_flow) var(--space_gutter);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 40rem) {
    .logo span {
      display: block;
    }
  }

  @media (min-width: 50rem) {
    .site-footer span {
      display: inline-block;
    }
  }

  @media (min-width: 60rem) {
    .container {
      padding: 0 var(--space_gutter);
    }

    .site-footer {
      padding: var(--space_section) var(--space_flow) var(--space_gutter);
      display: flex;
      justify-content: space-between;
    }
  }
</style>
